#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
#~~~# API variables #~~~#
DEV=False

WEBAPP_PORT=12345
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
#~~~# DB variables `Postgres` #~~~#
ECHO_SQL=False

DB_DRIVER=postgresql+asyncpg

DB_NAME=api_db

DB_HOST=postgres_container
DB_PORT=7676

#~~# API user #~~#
DB_USER=USER
DB_PASS=PASSWORD

#~~# Postgres user #~~#
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
#~~~# Elasticsearch variables #~~~#
ELASTIC_SCHEMA=http

ELASTIC_HOST=elastic_container
ELASTIC_PORT=9222

ELASTIC_USER=USER
ELASTIC_PASS=PASSWORD
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
#~~~# Docker variables #~~~#
VOLUMES_ROOT_DIR=volumes

ELASTIC_VERSION=8.6.2

ELASTIC_CONTAINER_NAME=elastic_container

API_CONTAINER_NAME=api_container

POSTGRES_CONTAINER_NAME=postgres_container